*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card {
    height: 500px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
}

.Card-header {
    display: flex;
}

.Card-header-content{
    color: #494949;
}

.Card-header-image{
    height: 100px;
    width: 100px;
    background-image: url('./maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.Card-text{
    font-family: 'Roboto', sans-serif;
}

.Card-icon {
    color: red;
}